!!!
%html
  %head
    %title= @title || '--'
    %script{:type => 'text/javascript', :src => '/js/jquery.js'}
    %script{:type => 'text/javascript', :src => '/js/app.js'}
    %link{:rel => 'stylesheet', :href => '/css/app.css'}

%body
  #container
    %header
      %h1= configatron.site_name

    #content_area
      - unless flash.blank?
        - unless flash[:notice].blank?
          #flash_notice.flash.flash_notice= flash[:notice]
        - unless flash[:error].blank?
          #flash_error.flash.flash_error= flash[:error]

      = yield

    %footer

  = @content_for_template_footer